<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= song.title %></title>
</head>
<body>
    <h1><%= song.title %></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/songs">Songs</a></li>
            </ul>
        </nav>
        <section>
            <a href="/songs/<%= song._id %>/edit">Edit</a>
                <ul>
                    <li>Title: <%= song.title %></li>
                    <li>Artist: <%= song.artist %> </li>
                </ul>
        </section>
    </header>
    <main>
</body>
</html>