<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/notify-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <title>Playlists</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><h1>N</h1><img src="/images/notify-logo.png" alt="notify logo" id="logo"><h1>Tify</h1></li>
                <li><a href="/index">Home</a></li>
                <li><a href="/playlists">Playlists</a></li>
            </ul>
        </nav>
    <main>
        <h2><%= playlist.title %> </h2>
        <ul>
            <% for( let i = 0; i < playlist.songs.length; i++ ) { %>
            <li><a href="/songs/<%= playlist.songs[i]._id %>"> <%= playlist.songs[i].title %></a> by <a href="/artists/<%= playlist.songs[i].artist._id %>"><%= "artist" %></a></li>
            <% } %>
        </ul>
        <a class="button" href="/playlists/<%= playlist._id %>/edit">Edit Playlist</a>
        <form action="/playlists/<%= playlist._id %>?_method=DELETE" method="POST">
        <input class="button" type="submit" value="Delete">
        </form>
    </main>
    </div>
</body>
</html>