<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="/styles/smallscreen.css">
    <link rel="shortcut icon" href="/images/notify-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Account Info</title>
</head>
<body>
    <div>
    <nav>
        <ul>
            <li><h1>N</h1><img src="/images/notify-logo.png" alt="notify logo" id="logo"><h1>Tify</h1></li>
            <li><a href="/index">Home</a></li>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/playlists">Playlists</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>
    <main>
        <h2><%= user.name %>'s Account Info</h2>
        <p>Email: <%= user.email %></p> 
        <a class='button' href="/<%= user.id %>/editemail">Edit E-mail</a> 
        <a class='button' href="/<%= user.id %>/editpass">Edit Password</a>
        <form action="/<%= user.id %>?_method=DELETE" method="POST">
            <input class="button" type="submit" value="Delete Account" id="delete-account">
        </form>
    </main>
    </div>
</body>
</html>