<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/notify-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <title>Artist Show Page</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><h1>N</h1><img src="/images/notify-logo.png" alt="notify logo" id="logo"><h1>Tify</h1></li>
                <li><a href="/index">Home</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/songs">Songs</a></li>
                <li><a href="/songs/new">Add a new song</a></li>
                <li><a href="/playlists">Playlists</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
    <main>
        <h2><%= artist.name %> </h2>
        <h3>Check out our selection of <%= artist.name %>'s tracks!</h3>
        <ul>
            <% for( let i = 0; i < artist.songs.length; i++ ) { %>
            <li><a href="/songs/<%= artist.songs[i]._id %>"> <%= artist.songs[i].title %></a></li>
            <% } %>
        </ul>
        <a class="button" href="/artists/<%= artist._id %>/edit">Edit Artist</a>
        <form action="/artists/<%= artist._id %>?_method=DELETE" method="POST">
        <input class="button" type="submit" value="Delete">
        </form>
    </main>
    </div>
</body>
</html>