<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Artist Show Page</title>
</head>
<body>
    <h1><%= artist.name %></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/artists">Artists</a></li>
        </ul>
    </nav>
    <br>
        <h3>Check out our selection of <%= artist.name %>'s tracks!</h3>
        <ul>
            <% for( let i = 0; i < artist.songs.length; i++ ) { %>
            <li><a href="/songs/<%= artist.songs[i]._id %>"> <%= artist.songs[i].title %></a></li>
            <% } %>
        </ul>
        <button><a href="/artists/<%= artist._id %>/edit">Edit Artist</a></button>
        <form action="/artists/<%= artist._id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
        </form>
</body>
</html>